<%# CSS・・・assets/stylesheets/shared/header.css %>
 <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="top.css">
    <title>Mate</title>
  </head>

<body>
<header class='top-page-header'>
  <div class='nav-left'>
    <ul class='lists-left'>
      <li><%= link_to 'Genre', "#", class: "category-list" %></li>
      <li><%= link_to 'Mate', "#", class: "human-list" %></li>
    </ul>
  </div>
  <div class='nav-right'>  
    <ul class='lists-right'>   
      <li><%= link_to 'Log-out', destroy_user_session_path, method: :delete, class: "logout" %> </li> 
      <li><%= link_to 'Log-in', new_user_session_path, class: "login" %></li>
      <li><%= link_to 'Sign-up', new_user_registration_path, class: "sign-up" %></li>
    </ul>
  </div>  
</header>

 <div class="contents">
      <div class="first-view">
       <img src="images/top-image2.jpeg" alt="トップ画面" class="top-image">
      </div>
      <div class="middle-content">
        <!-- 『Genre一覧』を表示する -->
      </div>
      <div class="bottom-content">
        <!-- 『Mate候補たち』を表示する -->
      </div>
    </div>

    <footer>
    </footer>


</body>

 



