<%# CSS・・・assets/stylesheets/shared/header.css %>
 <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/top.css"/>
   <link href="https://fonts.googleapis.com/css?family=Amatic+SC:700" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Cherry+Swash:700" rel="stylesheet">
    <title>Mate</title>
  </head>

<body>
<header class='top-page-header'>
  <div class='nav-left'>
    <ul class='lists-left'>
      <li><%= link_to 'Genre', "#", class: "category-list" %></li>
      <li><%= link_to 'Mate', users_path, class: "human-list" %></li>
    </ul>
  </div>
  <div class='nav-right'>  
    <ul class='lists-right'>   
     <% if user_signed_in? %>     
      <li><%= link_to current_user.last_name, "#", class: "user-last-name" %> </li> 
      <li><%= link_to 'Log-out', destroy_user_session_path, method: :delete, class: "logout" %></li> 
      <li><%= link_to 'Profile', edit_user_registration_path, class: "profile" %></li>
     <% else %> 
      <li><%= link_to 'Log-in', new_user_session_path, class: "login" %></li>
      <li><%= link_to 'Sign-up', new_user_registration_path, class: "sign-up" %></li>
      <li><%= link_to 'Guest', users_guest_sign_in_path, method: :post, class: "login" %></li>
     <% end %>  
    </ul>
  </div>  
</header>

 <div class="contents">
   <div class="top-image">
    <%= image_tag "top-image4.jpeg", alt:"image1", class:"top-image" %>
   <p>Find your Mate</p>
   <span>
   <%= link_to 'English', users_path, class: 'circle' %> 
   <%= link_to 'Programming', users_path, class: 'circle' %> 
   <%= link_to 'Chinese', users_path, class: 'circle' %> 
   </span>
   </div>
     
  
      <!-- 『Mate候補たち』を表示する -->
      <div class="bottom-content">
        <h2 class="heading-name">Recommend for you</h2>
        <ul class="mate-list">
          <li>
            <%= image_tag "mate-pic1.webp", alt:"mate1", class:"mate-image" %>
            <h4 class="mate-name">kane</h4>
          </li>
          <li>
             <%= image_tag "mate-pic2.jpg", alt:"mate2", class:"mate-image" %>
            <h4 class="mate-name">Mary</h4>
          </li>
          <li>
             <%= image_tag "mate-pic3.jpeg", alt:"mate3", class:"mate-image" %>
            <h4 class="mate-name">Juliana</h4>
          </li>
        </ul>
      </div>
   </div>


    <div class='user-contents'>
    <h2 class='title'>Mate</h2>
   
    <ul class='user-lists'>
      <% @users.each do |user| %>
      <li class='list'>
        <%= link_to user_path(user.id) do %>
        <div class='user-img-content'>
           <% if user.image? %>   
            <%= image_tag user.image.url, class: "user-img" %>
           <% end %>
        </div>
        <div class='user-info'>
          <%= user.last_name %>
        </div>
       <% end %>
      </li>
     <% end %> 
   </div>  
  </div> 


<footer>
 <div class="logo">
  JE SUIS TOUJOURS A COTE DE VOUS
 </div>
 <ul class="nav">
        <li class="nav-nav">WORKS</li>
        <li class="nav-nav">BLOG</li>
        <li class="nav-nav">RECRUIT</li>
        <li class="nav-nav">COMPANY</li>
        <li class="nav-nav">CONTACT</li>
      </ul>
</footer>


</body>

 



