<head>
    <meta charset="UTF-8">
    <title>ユーザー詳細</title>
    <link rel="stylesheet" href="userShow.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
</head>

<body>
<div class="show-page">
 <div class="bg">
<div class="text-center">
    <%= image_tag @user.image.url, class: "image" %> 
</div>    
<div class="text-center" id = "user-description">
    <%= @user.last_name %> 
     <br><%= @user.self_introduction %><br>
     <% if user_signed_in? %> 
      <% if @user != current_user %>
       <div id="follow_form">
        <% if current_user.following?(@user) %> 
          <button id="liked.btn.btn-default">Liked</button>
        <% else %> 
         <%= render 'follow', {relationship: @relationship} %> 
        <% end %>
      </div> 
      <% end %>
     <% end %>  
     <div class="chat-room">
     <% unless @user.id == current_user.id %>
      <%= link_to("Start Chat", new_room_path) %>  
     <% end %>   
     </div>      
    </div>  
   </div>   
</div>
</div>




<script type="text/javascript" src="javascript/create.js.erb"></script>
</body>