<div class="main user-show">
  <div class="container">
    <div class="user">
      <h2><%= @user.last_name %></h2>
      <h2><%= @user.first_name %></h2>
      <p><%= @user.email %></p>
      <h2><%= @user.self_introduction %></h2>
      <h2><%= @user.image %></h2>
    </div>
  </div>
</div>